:root {
	--global-border-size: 0.125rem;
	--global-border-radius: 0;
	--app-height: 100%;

	.dark {
		--global-color-background: #121212;
	}

	.light {
		--global-color-background: #fafafc;
		--global-color-text: #07031a;
		--global-color-alpha: #130742;
	}
}
